<!DOCTYPE html>
<html lang="es" ng-app="app" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="II Congreso Nacional de Formación Profesional">
        <meta name="author" content="fpempresa">
        <link rel="icon" type="image/png" href="img/favicon.png">

        <title>IV Congreso Nacional de Formación Profesional</title>

        <link href="./lib/bootstrap/css/bootstrap.css"                 rel="stylesheet" type="text/css" />
        <link href="./lib/fontawesome/css/font-awesome.css"            rel="stylesheet" type="text/css" />
        <link href="./css/site/site.css"                               rel="stylesheet" type="text/css" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
            window.cookieconsent_options = {
                "message": "Este sitio web cookies propias y de terceros para ofrecer un mejor servicio.Si continua navegando asuminos que acepta su uso.  Mas información en",
                "dismiss": "Aceptar",
                "learnMore": "Politicas de Cookies", "link": "./cookies.html", "theme": "./lib/cookieconsent/cookieconsent.css"};
        </script>

        <script type="text/javascript" src="./lib/cookieconsent/cookieconsent.js"></script>
        <!-- End Cookie Consent plugin -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-68576909-2', 'auto');
          ga('send', 'pageview');

        </script>

    </head>

    <body id="top"  ng-controller="IndexController" style="background-color: #F6F8F7" >

        <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation"  >
            <div class="container-fluid" >
                <div class="navbar-header">
                    <button id="buttonMenuHeader" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href ng-click="animateScroll.toElement('top')">
                        <img src="./img/logo/logo.png"  alt="logo"  >&nbsp;
                    </a>
                </div>


                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">

                        <li class="hidden">
                            <a href ng-click="animateScroll.toElement('top')" fpe-click-button-on-click="buttonMenuHeader"></a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('registro')" fpe-click-button-on-click="buttonMenuHeader" >INSCRIPCI&Oacute;N</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('donde')" fpe-click-button-on-click="buttonMenuHeader">DONDE</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('agenda')" fpe-click-button-on-click="buttonMenuHeader">AGENDA</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('alojamiento')" fpe-click-button-on-click="buttonMenuHeader">ALOJAMIENTO</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('objetivos')" fpe-click-button-on-click="buttonMenuHeader">OBJETIVOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="intro" >
            <div class="intro-body">
                <div class="container">
                    <div class="row">
<!--                        <div class="col-xs-12 col-sm-12 col-md-12" style="color:#6E8654">
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="alert alert-success section__text--size-extrahigh" role="alert" >
                                <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;&nbsp;Ya disponible las <a  href ng-click="animateScroll.toElement('agenda')" >slides</a> y las <a href="./presentaciones/propuestas_para_un_impulso_de_la_formacion_profesional.pdf" target="_blank" >propuestas del congreso</a>
                            </div>
-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" >
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" style="color:#6E8654">
                            <img src="img/site/texto_transparente.png" width="60%" height="60%" alt="" />
                            <br>
                            <a href ng-click="animateScroll.toElement('registro')" style="color:#6E8654;border-color: #6E8654" class="btn button-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <section id="registro" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;INSCRIPCIÓN&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>     
            <div class="row" >   
                <div class="col-xs-12">
                    <p class="section__text  section--color-dark-high section__text--size-high">
                        Los asistentes de centros públicos y concertados de Andalucia  se registrarán a trávés de la página del Centro de Formación del Profesorado de la Junta de Andalucia.
                    <br>
                </div>                 
                <div class="col-xs-12 col-sm-6">
                    <p class="section__text  section--color-dark-high section__text--size-extrahigh">
                        Inscripción de asistences de centros públicos y concertados de Andalucía
                        <br>
                        <a class="btn btn-xl form__button form__button--primary" href="https://www.juntadeandalucia.es/educacion/secretariavirtual/consultaCEP/actividad/172922GE105/"  >REG&Iacute;STRO<br>(Centros públicos y concertados de Andalucía)</a>
                    <br>
                </div> 
                <div class="col-xs-12 col-sm-6">
                    <p class="section__text  section--color-dark-high section__text--size-extrahigh">
                        Inscripción de asistences de centros del resto de España y privados de Andalucía
                        <br>
                        <a class="btn btn-xl form__button form__button--primary" href="https://goo.gl/forms/k2hPkNOsoV1vEEM62"  >REG&Iacute;STRO<br>(Centros del resto de España y privados de Andalucía)</a>
                    <br>
                </div> 
            </div>  
            <div class="row" >       
                <div class="col-xs-12">
                    
                </div>        
            </div>

        </section>        

        
        
        <section id="donde" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;DONDE&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <h1>18  y 19 de Mayo de 2017</h1>
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <p class="section__text  section--color-dark-high section__text--size-high"><strong>Facultad de Ciencias de la Educación de la Universidad de Málaga</strong> en el Bulevar Louis Pasteur, 25.CP 29010<br>Campus de Teatinos.Málaga</p>
                    <br>
                </div>

            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.2706529590155!2d-4.471141084837849!3d36.71606057996608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7489d0261bf%3A0xff03efbbdcdf03cd!2sUniversidad+de+M%C3%A1laga%3A+Facultad+de+Ciencias+de+la+Educaci%C3%B3n+y+Psicolog%C3%ADa!5e0!3m2!1ses!2ses!4v1490605343732" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row" >
                <div class="col-xs-8 col-xs-offset-2">
                    <p class="section__text  section--color-dark-high section__text--size-high"> &iquest;Vienes en tren al congreso? Tienes un 30% de descuento en todos los trenes usando el n&uacute;mero de autorizaci&oacute;n <strong>PENDIENTE DE OBTENER</strong>. Mas informaci&oacute;n <a href="#" style="color:#005594" >aqui</a></p>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <a  href="http://www.renfe.com/"  ><img src="img/logo/logo_renfe.png" alt=""/></a>
                </div>
            </div>
        </section>


        <section id="agenda" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;AGENDA&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <h3><strong>Jueves 18 de Mayo</strong></h3>

                    <table class="table table-bordered table-striped">
                        <tr class="active">
                            <th style="width:  100px;text-align: center">Hora</th>
                            <th style="text-align: center" colspan="2">Actividad</th>
                        </tr>
                        <tr>
                            <td>15:30&nbsp;h.</td>
                            <td colspan="2"><strong>Acreditación al IV Congreso y entrega de documentación</strong></td>
                        </tr>
                        <tr>
                            <td>16:00&nbsp;h.</td>
                            <td colspan="2">
                                <strong>Presentación del IV Congreso de FP “Formación Profesional: Un camino seguro al empleo”</strong>
                                <div style="text-align: left">
                                    D. Joan SarriónOchando. Presidente de la Asociación de Centros de FP<br>
                                    Dña. Rosalía Serrano Velasco, Directora General de FP del Ministerio de Educación.<br>
                                    Dña. Mercedes Chacón Delgado, Directora de la Fundación Bankia por la Formación Dual<br>
                                    Dña. Rosario Gutiérrez, Decana de la Facultad de Ciencias de la Educación.<br>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>16:30&nbsp;h.</td>
                            <td colspan="2">
                                <strong>Presentación del Portal “empleaFP”</strong>
                                <div style="text-align: left">
                                    D. Lorenzo González. Programador del Portal y profesor del CIPFP Mislata. Valencia.<br>
                                    Dña. Lorena. Empresa Gehilan2000 encargada del desarrollo y difusión del portal.<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>17:15&nbsp;h.</td>
                            <td colspan="2">
                                <strong>La red de recursos personales y utilización de las TICs en la búsqueda de empresas para prácticas con inserción laboral.</strong>
                                <div style="text-align: left">
                                    D. David Enríquez Vázquez.  Profesor de FP IES Antonio Gala de Málaga. Miembro de EFOPEM.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>18:00&nbsp;h.</td>
                            <td >
                                <strong>Asamblea Anual de la Asociación de Centros de Formación Profesional “Fpempresa”.</strong>
                            </td>
                            <td >
                                <strong>Presentación de Buenas Prácticas sobre FP Dual. (Caso 1)</strong><br>
                            </td>
                        </tr>
                        <tr>
                            <td>18:30&nbsp;h.</td>
                            <td >
                                <strong>Mesa Técnica para eldebate del Documento del Congreso de Propuestas para la mejora de la Formación Profesional.</strong>
                            </td>
                            <td >
                                <strong>Presentación de Buenas Prácticas sobre Internacionalización.  (Caso 2)</strong><br>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row" >
                <div class="col-xs-12">
                    <h3><strong>Viernes 19 de Mayo</strong></h3>

                    <table class="table table-bordered table-striped">
                        <tr class="active">
                            <th style="min: 100px;text-align: center">Hora</th>
                            <th style="text-align: center">Actividad</th>
                        </tr>
                        <tr>
                            <td>09:00&nbsp;h.</td>
                            <td>
                                <strong>Acreditación al IV Congreso</strong><br>
                                <div style="text-align: left">
                                     De todos los asistentes no acreditados hasta el momento y entrega de documentación.<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>09.30&nbsp;h.</td>
                            <td>
                                <strong>Inauguración de las Jornadas</strong><br>
                                <div style="text-align: left">
                                    D. José Ignacio GoirigolzarriTellaeche. Presidente de Bankia.<br>
                                    D. José Ángel Narváez,Rector de la Universidad de Málaga.<br>
                                    Dña. Adelaida de la Calle,Consejera de Educación de la Junta de Andalucía.<br>
                                    D. José Sánchez Maldonado, Consejero de Empleo, Empresa y Comercio.<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>10:00&nbsp;h.</td>
                            <td>
                                <strong>Perspectivas de la FP Dual en España</strong><br>
                                <div style="text-align: left">
                                    D. Centro de Estudios de la Fundación Bankia por la Formación Dual<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>10:30&nbsp;h.</td>
                            <td>
                                <strong>Radiografía de la situación del empleo en titulaciones de FP</strong><br>
                                <div style="text-align: left">
                                    D. Jorge Guelbenzu Lapresta. Director General de Infoempleo.<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>11:00&nbsp;h.</td>
                            <td>
                                <strong>Movilidad internacional en Formación Profesional.</strong><br>
                                <div style="text-align: left">
                                    D. Jordi Castillo, Secretario General de la Asociación XarxaFP<br>
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>11:30&nbsp;h.</td>
                            <td>
                                Café - Descanso
                            </td>
                        </tr>
                        <tr>
                            <td>12:00&nbsp;h.</td>
                            <td>
                                <strong>Fomento de la empleabilidad a través de las actitudes y la transferencia del conocimiento</strong><br>
                                <div style="text-align: left">
                                    Dña. Amparo Civila. Profesora UMA. Vicedecana de Estudiantes Facultad Ciencias de la Educación. Miembro EFOPEM<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>12:30&nbsp;h.</td>
                            <td>
                                <strong>Presentación de Buenas Prácticas sobre Metodología Didáctica (Caso 3)</strong><br>
                                <div style="text-align: left">
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>13:00&nbsp;h.</td>
                            <td>
                                <strong>Presentación de Buenas Prácticas sobre Innovación en Formación Profesional. (Caso 4)</strong><br>
                                <div style="text-align: left">
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>13:30&nbsp;h.</td>
                            <td>
                                <strong>Pensando en el Futurode la FP. La visión de la Asociación de Centros de FP.</strong><br>
                                <div style="text-align: left">
                                    D. Joan Sarrión Ochando. Presidente de la Asociación de centros de FP, FPempresa.
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>14:00&nbsp;h.</td>
                            <td>
                                Comida ofrecida por el congreso
                            </td>
                        </tr>
                        <tr>
                            <td>15:30&nbsp;h.</td>
                            <td>
                                <strong>Mejorar la empleabilidad y gestionar la cultura emprendedora en la FP: dos ejes vertebradores para la inserción laboral</strong><br>
                                <div style="text-align: left">
                                    Dña. Mª Teresa Castilla Mesa. Profesora de Didáctica y Organización Escolar de la Universidad de Málaga. Coordinadora del Equipo de Formación y Orientación Profesional para el Empleo y Emprendimiento.<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>16:00&nbsp;h.</td>
                            <td>
                                <strong>Presentación de Buenas Prácticas sobre Emprendimiento (Caso 5)</strong><br>
                                <div style="text-align: left">
                                    
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>16:30&nbsp;h.</td>
                            <td>
                                <strong>Presentación de Buenas Prácticas sobre Gestión (Caso 6).</strong><br>
                                <div style="text-align: left">
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>17:00&nbsp;h.</td>
                            <td>
                                <strong>Relato del Congreso y Conclusiones</strong><br>
                                <div style="text-align: left">
                                    D. Luis García Domínguez. Vicepresidente de la Asociación de Centros de FP FPempresa.<br>
                                </div>                                
                            </td>
                        </tr>
                        <tr>
                            <td>17:15&nbsp;h.</td>
                            <td>
                                <strong>Clausura del Congreso</strong><br>
                                <div style="text-align: left">
                                    D. Sergio San Martin Pinedo. Secretario de la Asociación de Centros de FP, FPempresa.<br>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

        </section>
        <section id="alojamiento" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;ALOJAMIENTO&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <p class="section__text  section--color-dark-high section__text--size-high">
                        La lista de hoteles cercanos al congreso la puedes ver <a href="#">(PENDIENTE DE OBTENER)</a><br>
                    </p>
                </div>

            </div>
        </section>
        <section id="objetivos" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;OBJETIVOS&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <p class="section__text  section--color-dark-high section__text--size-low">
                        Nuestra intención es la de propiciar el encuentro entre los diferentes agentes que intervienen en el proceso de formación profesional de 
                        nuestros jóvenes, aportando como valor añadido una serie de ponencias que incorporen conocimiento y 
                        que propicien un debate, desde diferentes puntos de vista, para concluir con propuestas concretas sobre el 
                        diseño del modelo de FP que necesita nuestra sociedad.
                    </p>
                    <p class="section__text  section--color-dark-high section__text--size-low">
                        Por otra parte, es evidente, que el congreso busca provocar el debate, la resolución de dudas, la actualización de conocimientos y la motivación de los profesores.
                    </p>
                    <p class="section__text  section--color-dark-high section__text--size-low">
                        Por último, todo encuentro de estas características, también busca servir de base para compartir experiencias y 
                        sacar conclusiones de la propia interacción entre compañeros del mismo sector, creando una dinámica que sirva como punto de
                        conexión entre los profesionales de la formación profesional.
                    </p>
                </div>





            </div>
        </section>


        <section id="patrocinadores" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row"  >

                <div class="col-md-1 col-sm-6 col-xs-12" style="font-size: 18px;text-align: left">organiza</div>
                <div class="col-md-3 col-sm-6 col-xs-12" style="font-size: 18px;text-align: left"><a href="http://www.fpempresa.net"><img src="./img/logo/logo_azul_medio.png" alt=""/></a></div>
                <div class="col-md-1 col-sm-6 col-xs-12" style="font-size: 18px;text-align: left">patrocina</div>
                <div class="col-md-2 col-sm-6 col-xs-12" style="font-size: 18px;text-align: left"><a href="http://www.bankia.es"><img src="./img/logo/bankia.gif" alt=""  /></a></div>
            </div>
            <br>

        </section>



        <footer  class="container-fluid section__container  section--background-color-dark section--color-light-high">

            <p class="section__text  section--color-light-high"  >
<!--                <a href="https://twitter.com/fp_empresa" target="_blank" class="social__icon"><i class="fa fa-twitter-square"></i></a>&nbsp;&nbsp;
                <a href="https://www.facebook.com/asociacion.fpempresa" target="_blank" class="social__icon"><i class="fa fa-facebook-square"></i></a>&nbsp;&nbsp; -->
                <a href="https://plus.google.com/+FPempresaNet/posts" target="_blank" class="social__icon"><i class="fa fa-google-plus-square"></i></a>
                <br>
                <br>
                <a href="http://fpempresa.net"  class="section--color-light">&copy; 2016 Asociaci&oacute;n de centros de FP (AC-FP)</a>
                <br>
                <br>
            </p>
        </footer>


        <script type="text/javascript" src="./lib/jquery/js/jquery.js"></script>
        <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.js"></script>

        <script type='text/javascript' src='./lib/angularjs/js/angular.js'></script>
        <script type="text/javascript" src="./lib/easing/js/jquery.easing.min.js"></script>

        <script type="text/javascript" src="index.js"></script>
        <script type="text/javascript" src="./common/presentation/directive/clickbuttononclick.js"></script>
        <script type="text/javascript" src="./common/presentation/service/animatescroll.js"></script>
    </body>
</html>
